.carousel {
  --carousel-gap: 12px;
  overflow: clip;
  overflow-clip-margin: 8px;
}

.carousel__list {
  display: flex;
  gap: var(--carousel-gap);
  margin-right: -100px; /* push final image out of frame */
}

.carousel__list:focus {
  outline: 0;
}

.carousel__item {
  aspect-ratio: 2 / 3;
  flex: 1 1 0;
}

.carousel__item--skeleton {
  background-color: var(--color-dark-gray);
}

.carousel__list:focus .carousel__item[aria-selected='true'] {
  border-radius: 1px;
  outline: 3px solid var(--color-stan-blue);
  outline-offset: 4px;
}

@media (min-width: 900px) {
  .carousel {
    --carousel-gap: 16px;
  }
}
