.header {
  align-items: flex-end;
  display: flex;
  gap: 80px;
}

.header__logo-image {
  height: auto;
  width: 160px;
}

.header__nav {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 8px;
  white-space: nowrap;
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__nav-link {
  border-radius: 2px;
  color: var(--color-gray);
}

.header__nav-link.active {
  color: var(--color-white);
}

.header__nav-link:hover {
  color: var(--color-stan-blue);
}

@media (min-width: 900px) {
  .header {
    gap: 100px;
  }

  .header__logo-image {
    width: 180px;
  }

  .header__nav {
    font-size: 1.5rem;
  }
}
