* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --breakpoint-medium: 56.25rem;
  --color-black: black;
  --color-stan-blue: #0072fb;
  --color-gray: #999999;
  --color-dark-gray: #666666;
  --color-white: white;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font:
    1rem/1.667 'Open Sans',
    sans-serif;
  min-height: 100%;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

:focus {
  outline: 2px solid var(--color-stan-blue);
  outline-offset: 2px;
}
