* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --breakpoint-medium: 56.25rem;
  --color-black: black;
  --color-stan-blue: #0072fb;
  --color-gray: #bdbdbd;
  --color-white: white;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font: 1rem/1.4 "Open Sans", sans-serif;
  min-height: 100%;
}
